.custom-shape-divider-bottom {
  width: 100%;
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #fff;
}
